<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Login_page.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Login_page.Properties.Settings.EasyTrip_dbConnectionString"
            connectionString="Data Source=LAPTOP-4MKBH0NF\SQLEXPRESS;Initial Catalog=EasyTrip_db;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EasyTrip_dbEntities" connectionString="metadata=&quot;res://*/App data.JeromeModel1.csdl|res://*/App data.JeromeModel1.ssdl|res://*/App data.JeromeModel1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-4MKBH0NF\SQLEXPRESS;initial catalog=EasyTrip_db;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Login_page.Properties.Settings>
      <setting name="API" serializeAs="String">
        <value>fb410627afcb1e60ffd2a68dffe4bc2a</value>
      </setting>
      <setting name="City" serializeAs="String">
        <value>Lapu-lapu City</value>
      </setting>
    </Login_page.Properties.Settings>
  </userSettings>
</configuration>